 
* {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

/* nav style */
 
 nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;


 }
 .nav-title {
    font-weight: 800;
    font-size: 35px;
}
 .nav-btn{
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
 }

 /* banner style */
 
 
 .banner{
    background-image:url('../assets/Hero-bg.png');
    text-align: center;
    margin: 0 100px;
 }
 
 .banner-title{
    font-weight: 700;
    font-size: 65px;
 }
 .banner-description{
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 20px;
 }
 .banner-btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: black;
 }